html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Keine Scrollbars */
    width: 100%;
    height: 100%;
}

.playbackContainer {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
}

.playbackContainer button {
    width: 124px;
    height: 32px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1rem;
    color: white;
    background-color: #EC660C;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    text-transform: uppercase;
}

.playbackContainer button:hover {
    color: #EC660C;
    background-color: rgba(236, 102, 12, 0.12);
    border-style: solid;
    border-color: #EC660C;
}

.playbackContainer button:active {
    color: #EC660C;
    background-color: white;
    border-style: solid;
    border-color: #EC660C;
}

.playbackContainer button:disabled {
    color: white;
    background-color: rgba(75, 75, 75, 0.49);
}

.playbackContainer button:disabled:hover {
    border-style: none;
    cursor: default;
}

.playbackContainer select {
    width: 164px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1rem;
    border-radius: 6px;
    border-style: none;
    color: white;
    background-color: #EC660C;
    text-transform: uppercase;
    padding-left: 8px;
}

.playbackContainer select option {
    width: 148px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.1rem;
    border-radius: 6px;
    border-style: none;
    color: #EC660C;
    background-color: white;
}

.playbackContainer select option:checked {
    color: white;
    background: #EC660C;
}

/* Simulations BTN */
.simbtn {
    margin: 16px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #EC660C;
    color: white;
    border-radius: 10px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
}